@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* other css file imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/company.css");
@import url("sections/about.css");
@import url("sections/pricing.css");
@import url("sections/features.css");
@import url("sections/testimonials.css");
@import url("sections/news-update.css");
@import url("sections/call-to-action.css");
@import url("sections/footer.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --Lato: "Lato";

  --primary-color: #ff7518;
  --secondary-color: #121212;

  --white-200: #f3f3f3;
  --gray-100: #959595;

  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: var(--Lato);

  background-color: var(--color-creamson);
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.heading {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-bottom: 7px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techzap__title {
  font-size: 4rem;
  font-weight: 600;

  color: var(--secondary-color);

  margin-top: 16px;
}

.techzap__description {
  font-size: 1.1rem;
  font-weight: 400;

  letter-spacing: -0.01em;

  margin: 24px 0px;
  color: var(--gray-100);
}

.techzap__hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.techzap__hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}